[Unit]
Description=kill frecon to allow xorg to start

[Service]
Type=oneshot
ExecStart=/usr/bin/pkill frecon-lite
RemainAfterExit=true

[Install]
WantedBy=graphical.target